# Ignore virtual environments
venv/
*.pyc
__pycache__/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore sensitive information
.env
credentials.json

# Ignore build artifacts
build/
dist/
*.egg-info
